/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

 /* GENERAL */

 :root {
    --teal: #33c4f4;
    --purple: #c190eb;
    --yellow: #e0ed6f;
  }

 body{
     margin-top: 0px;
 }

 /* HEADER */
 .banner img {
    width: 50%;
    max-width: 600px;
}

.banner{
    text-align: center;
    padding: 25px;
}

 /* NAVIGATION */
 header#navbar{
    width: 100%;
    padding: 0;
    max-width: 100%;
    margin-bottom: 0px;
    background-color: white;
    margin: 0 0 25px 0;
 }
 .navbar-header, .navbar-collapse{
     padding: 0;
 }

 section#block-mainnavigation{
    background-image: url(/themes/custom/starterkits/SB/images/navibanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
    margin: auto;
    border: 1px solid #e7e7e7;
 }

 ul#superfish-main {
    width: 50%;
    margin: 0 auto;
}

/* LINKS */
/* .main-container a.link, .main-container a.visited{
    color: red !important;
    text-decoration: underline;
}

.main-container a.hover{
    background-color: var(--teal);
    color: var(--white);
    text-decoration: none;;
} */

.main-container.container.js-quickedit-main-content a{
    color: var(--teal);
    text-decoration: underline;
}